<div class="center-box">
  <div class="card">
    <h2>Add Water Reading</h2>

    <label>pH</label>
    <input type="number" [(ngModel)]="reading.ph" />

    <label>Turbidity (NTU)</label>
    <input type="number" [(ngModel)]="reading.turbidity" />

    <label>Temperature (°C)</label>
    <input type="number" [(ngModel)]="reading.temperature" />

    <label>Oxygen (mg/L)</label>
    <input type="number" [(ngModel)]="reading.oxygen" />

    <button class="btn-green" (click)="submitReading()">Submit</button>
  </div>
</div>
